<div class="rock_page_title_bg">
  <section class="main">
    <div id="rock_page_title_bg" class="ri-grid ri-grid-size-3">
      <ul>
        <!-- Background Images from local files -->
        <% i = 1 %>
        <% 40.times do %>
          <li><a href="#"><img src="<%= asset_path("anacatalina/#{i.to_s}.jpg") %>" alt="" /></a></li>
          <% i += 1 %>
        <% end %>
      </ul>
    </div>
  </section>
</div>