<div class="rock_page_title_bg">
    <section class="main">
      <div id="rock_page_title_bg" class="ri-grid ri-grid-size-3">
        <ul>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
        </ul>
      </div>
    </section>
  </div>