<div class="rock_page_title_bg">
  <section class="main">
    <div id="rock_page_title_bg" class="ri-grid ri-grid-size-3">
      <ul>
        <% @header_images.each do |background_image| %>
          <li><a href="#"><img src="<%= background_image.image.url(:medium) %>" alt="" /></a></li>
        <% end %>
      </ul>
    </div>
  </section>
</div>