<%= render 'layouts/navbar', other_page: true %>
<!--page title start-->
<div class="rock_page_title_main">
  <%= render 'rock_page_title_bg' %>
  <div class="rock_page_title">
    <div class="container">
      <div class="rock_heading_div">
        <div class="rock_heading">
          <h1>Contáctanos</h1>
          <p>X</p>
        </div>
      </div>
      <div class="rock_pager">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--page title end-->
<div class="clearfix"></div>
<div class="container">
  <div class="rock_contact">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-form">
        <form role="form" id="contact-form" action="">
          <div class="form-group">
            <input type="text" name="name" class="form-control" id="uname" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="email" name="_replyto" class="form-control" id="uemail" placeholder="Correo Electrónico">
          </div>
          <div class="form-group">
            <textarea rows="10" name="message" class="form-control" id="message" placeholder="Mensaje"></textarea>
          </div>
          <input type="submit" id="em_sub" class="btn btn-default btn-lg" value="Enviar Mensaje">
          <input type="hidden" name="_next" value="http://www.anacatalina.co" />
          <input type="hidden" name="_subject" value="Solicitud de contacto de AnaCatalina.co!" />
          <p id="err"></p>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_contact_detail">
          <div>
            <p><i class="fa fa-envelope"></i> <a href="mailto:tuenmi@anacatalina.co?subject=Contacto Ana Catalina!&body">contacto@anacatalina.co</a></p>
            <p><i class="fa fa-mobile"></i> <a href="tel:+573007057090">+57 300 705 7090</a></p>
          </div>
          <div>
            <p><i class="fa fa-map-marker"></i> <a href="javascript:void(0);">Medellin, Colombia</a></p>
            <p><i class="fa fa-globe"></i> <a href="javascript:void(0);">www.anacatalina.co</a></p>
          </div>
        </div>
        <div class="rock_map">
          <iframe class="google-map" src="https://maps.google.sk/maps/ms?msa=0&amp;msid=210946297010027755543.0004c74af772bb9276d33&amp;ie=UTF8&amp;ll=6.252557,-75.568125&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<%= render 'layouts/footer' %>

<script>
  $( "#contact-form" ).on( "submit", function( event ) {
     event.preventDefault();
     var formData = $( this ).serialize();
     $.ajax({
       url: "//formspree.io/tuenmi@anacatalina.co",
       method: "POST",
       data: formData,
       dataType: "json"
     }).done(function(response) {
       $( '.contact-form' ).html("<h2 class='text-center'>¡Gracias por dejarme tu mensaje. Muy pronto nos pondremos en contacto!</h2>")
     });
   })
</script>