<%= render 'layouts/navbar', other_page: true %>
<!--page title start-->
<div class="rock_page_title_main">
  <%= render 'rock_page_title_bg.html.erb' %>
  <div class="rock_page_title">
    <div class="container">
      <div class="rock_heading_div">
        <div class="rock_heading">
          <h1>Events</h1>
          <p>X</p>
        </div>
      </div>
      <div class="rock_pager">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="">Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--page title end-->
<div class="clearfix"></div>
<div class="rock_margin_30"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <% 6.times do %>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="rock_main_event">
            <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            </div>
            <div class="rock_main_event_detail">
              <div class="rock_event_date">
                <div class="event_date">
                  <h1>22</h1>
                  <p>april</p>
                </div>
                <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
              <h2>Aenean ultrices feugiat.</h2>
              <div class="blog_entry_meta">
                <ul>
                  <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                  <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
                </ul>
              </div>
              <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<%= render 'layouts/footer' %>