<%= render 'layouts/navbar', other_page: true %>
<!--page title start-->
<div class="rock_page_title_main">
  <div class="rock_page_title_bg">
    <section class="main">
      <div id="rock_page_title_bg" class="ri-grid ri-grid-size-3">
        <ul>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="rock_page_title">
    <div class="container">
      <div class="rock_heading_div">
        <div class="rock_heading">
          <h1>Events</h1>
          <p>X</p>
        </div>
      </div>
      <div class="rock_pager">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="">Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--page title end-->
<div class="clearfix"></div>
<div class="rock_margin_30"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="rock_main_event">
          <div class="rock_main_event_image"> <img src="http://placehold.it/570x330" alt="" />
            <div class="rock_main_event_image_overlay">
              <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
            </div>
          </div>
          <div class="rock_main_event_detail">
            <div class="rock_event_date">
              <div class="event_date">
                <h1>22</h1>
                <p>april</p>
              </div>
              <a href="single_page.html" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
            <h2>Aenean ultrices feugiat.</h2>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-clock-o"></i> 8:00 PM - 12:30 AM</a></li>
                <li><a href=""><i class="fa fa-map-marker"></i> Rockon Club</a></li>
              </ul>
            </div>
            <p>Pellentesque habitant morbi tri senectus et netus et malesuada fames ac turpis egestas. Vestibulum interdum ligula quis odio convallis pretium. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="rock_footer rock_padding_20">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_footer_logo"> <img src="<%= asset_path('Logo1.png') %>" alt="footer logo" /> </div>
        <h3>Location</h3>
        <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
        <h3>Opening Hours</h3>
        <p> MON - FRI  9 AM TO 10 PM</p>
        <h3>Happy Hours</h3>
        <p> MON - FRI  2 PM TO 06 PM</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_recent_post">
          <h3>Recent Posts</h3>
          <ul class="bxslider">
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_twitter_feed">
          <h3>Twitter Feed</h3>
          <ul>
            <li> <i class="fa fa-twitter"></i>
              <div class="rock_feed"> <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
                <p><span class="label label-default">5 hour Ago</span></p>
              </div>
            </li>
            <li> <i class="fa fa-twitter"></i>
              <div class="rock_feed"> <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
                <p><span class="label label-default">5 hour Ago</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>