<div class="rock_footer rock_padding_20">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_footer_logo"> <img src="<%= asset_path('Logo1.png') %>" alt="footer logo" /> </div>
        <h3>Location</h3>
        <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
        <h3>Opening Hours</h3>
        <p> MON - FRI  9 AM TO 10 PM</p>
        <h3>Happy Hours</h3>
        <p> MON - FRI  2 PM TO 06 PM</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_recent_post">
          <h3>Recent Posts</h3>
          <ul class="bxslider">
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_recent_post">
          <h3>Recent Events</h3>
          <ul class="bxslider">
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rock_copyright">
  <div class="rock_copyright_bg">
    <section class="main">
      <div id="ri-grid2" class="ri-grid ri-grid-size-3">
        <ul>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300/00f" alt="" /></a></li>
          <li><a href="#"><img src="http://placehold.it/300x300" alt="" /></a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="rock_copyright_div">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <p>Stay Connected With Us Rockon</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="rock_social">
            <ul>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              <li><a href=""><i class="fa fa-skype"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
              <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-12 col-lg-offset-0 col-md-offset-2 col-sm-offset-0">
          <p>CopyRight @ 2014 rockon HTLM template all right reserved </p>
        </div>
      </div>
    </div>
  </div>
</div>