<!DOCTYPE html>
<html>
<head>
  <title>ArtistProfile</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
<!--   <meta name="description"  content="RockOn HTML Template"/>
  <meta name="keywords" content="RockOn, html template, Rockon template, club template, pub template">
  <meta name="author"  content="Kamleshyadav"/> -->
  <meta name="MobileOptimized" content="320">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
</head>
<body data-no-turbolink="true">

<%= yield %>

</body>
</html>
