<!DOCTYPE html>
<html>
<head>
  <title>Ana Catalina</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description"  content="Ana Catalina WEB Oficial"/>
  <meta name="keywords" content="Ana Catalina Calderon, Ana Catalina Calderon Gomez, Ana Catalina, Minuto de Dios, Música, Música católica, Tu en mi, Evangelización">
  <meta name="author"  content="Ana Catalina"/>
  <meta name="MobileOptimized" content="320">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
</head>
<body data-no-turbolink="true">

<%= yield %>

</body>
</html>
